/*******************
*
* Author: Istamosh
*
********************/

/* #header{
  position:absolute;
  top: 0;
  left: 0;
} */

/* targets all p tag on the entire html */
p{
  color: red;
  font-size: 12px;
}

/* targets all header's p tag */
/* #header p{
  font-size: 24px;
} */

a{
  text-decoration: underline;
  color: blue;
}

span{
  text-transform: uppercase;
}

h1{
  font-size: 32px
}

div{
  width: 100%;
  background-color: grey;
}

h2{
  font-size: 24px;
}

/* override all styles with this content header ID */
#content-header{
  font-size: 18px;
  color: red;
}

span{
  display: block;
  color: blue;
}

/* override all styles inside deck class */
.deck{
  color: brown;
}
